#name {
	color: #FFF;
	background-color: #4AAAA5;
}

.link {
	font-weight: bold;
}

.link:hover {
	color: #4AAAA5;
	transition: 0.2s;
}


/*ROW CLASS IN BOOTSTRAP WAS APPLYING A -15
MARGIN TO THE LEFT AND RIGHT SIDES OF WHATEVER
ELEMENT IT WAS BEING APPLIED TO*/
.row {
	margin: 0;
}

nav {
	border-bottom: 2px solid #CCC;
}